footer.footer
  a(href="/").footer__home Мастерская<br>путешествий
  nav.footer-linklist
    a(href="contacts.html").footer-linklist__link Контакты
    a(href="about.html").footer-linklist__link О компании
    a(href="tours.html").footer-linklist__link Приятные предложения
  p.footer__allright Все права защищены