extends ../template
block title
  | Мастерская Путешествий
block content
  section.wrapper.wrapper_solo
    main.main
      section.about
        h2.main__subtitle Почему мы
        h1.main__title О нашей компании
        .about-wrap
          .about-wrap-imgbox(style="background-image: url('assets/images/about.png');")
          .about-wrap-desc
            h3.about-wrap-desc__title Мастерская путешествий
            p.about-wrap-desc__text Турфирма “Мастерская путешествий” в Ярославле успешно работает на рынке туристских услуг уже много лет. 
            p.about-wrap-desc__text Стабильность, ответственность, профессионализм сотрудников, динамическое развитие, позволяют занимать устойчивое положение в туристском бизнесе и являться надежным помощником для наших клиентов.