extends ../template
block title
  | Мастерская Путешествий
block content
  section.wrapper.wrapper_solo
    main.main
      section.tours
        h4.main__subtitle Туры
        h3.main__title Лучшие предложения
        .tours-wrap
          .tours-wrap-item(style="background-image: url('assets/images/tour1.png')")
            p.tours-wrap-item__where Салерно, Италия
            p.tours-wrap-item__info 22.12.2019 на 7 ночей
            .tours-wrap-item-bottom
              a(href="#").tours-wrap-item__btn Подробнее
              p.tours-wrap-item__price <span>50 000</span> ₽
          .tours-wrap-item(style="background-image: url('assets/images/tour2.png')")
            p.tours-wrap-item__where Тенерифе, Испания
            p.tours-wrap-item__info 22.12.2019 на 7 ночей
            .tours-wrap-item-bottom
              a(href="#").tours-wrap-item__btn Подробнее
              p.tours-wrap-item__price <span>67 000</span> ₽
          .tours-wrap-item(style="background-image: url('assets/images/tour3.png')")
            p.tours-wrap-item__where Охрид, Македония
            p.tours-wrap-item__info 22.12.2019 на 7 ночей
            .tours-wrap-item-bottom
              a(href="#").tours-wrap-item__btn Подробнее
              p.tours-wrap-item__price <span>89 000</span> ₽
          .tours-wrap-item(style="background-image: url('assets/images/tour1.png')")
            p.tours-wrap-item__where Салерно, Италия
            p.tours-wrap-item__info 22.12.2019 на 7 ночей
            .tours-wrap-item-bottom
              a(href="#").tours-wrap-item__btn Подробнее
              p.tours-wrap-item__price <span>50 000</span> ₽
          .tours-wrap-item(style="background-image: url('assets/images/tour2.png')")
            p.tours-wrap-item__where Тенерифе, Испания
            p.tours-wrap-item__info 22.12.2019 на 7 ночей
            .tours-wrap-item-bottom
              a(href="#").tours-wrap-item__btn Подробнее
              p.tours-wrap-item__price <span>67 000</span> ₽
          .tours-wrap-item(style="background-image: url('assets/images/tour3.png')")
            p.tours-wrap-item__where Охрид, Македония
            p.tours-wrap-item__info 22.12.2019 на 7 ночей
            .tours-wrap-item-bottom
              a(href="#").tours-wrap-item__btn Подробнее
              p.tours-wrap-item__price <span>89 000</span> ₽